@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {font-family: 'Spoqa Han Sans Neo', 'sans-serif';
   margin:0 ; padding: 0 10px 80px;} 
h1 { font-family: "Montserrat", sans-serif;}   
h2 {font-weight: 500;}
a {text-decoration: none; color: #000;}

/*메뉴*/
.mtop {display: flex; justify-content: space-between;
    margin: 20px 0 5px 10px;}

.mtop a {text-decoration: none; color: black;}
.mtop img {width: 28px; height: 28px; }

.mtop_menu ul {margin-top: 10px; display: flex; align-items: center; 
        justify-content: flex-start;  gap:12px;}
.mtop_menu li a {text-decoration: none;   color: black; font-size: 17px;
                font-weight: 500; margin-left: 3px; }


.toplike, .topsearch {display: none;}
.tab_ham {display: none;}
.tab-menu {display: none;}
.mtop_sub{display: none;} 
.pc-mainbn {display: none;} 
.topPro {display: none;}
.search-model{display: none;}


/* footer */
.center {
  line-height: 1.5; 
  font-weight: 500; 
  font-size: 18px; 
  margin: 80px 0 10px 0;
} 
.c1 {
   margin-top: 4px;
  color: rgba(107,107,107,0.65);
  font-size: 13px;
  font-weight: 300;
}

.fbtn button,
.fbtn a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 126px;
  height: 36px;

  background: #fff;
  color: #111;
  border: 1px solid #dcdcdc;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}

.fbtn button:hover,
.fbtn a:hover {
  border-color: #111;
}

.notice {display: flex; justify-content:space-around;
        border-top: 1px solid rgba(107,107,107,0.5); margin-top: 10px;}
.notice> ul >li {font-size: 13px; padding: 10px 0 10px 0;}

.notice ul {margin-bottom: 20px;}
.ngroup {color:rgba(107,107,107,0.5); font-size: 10px; text-align: left;
        line-height: 1.6;}
.ngroup a {color:rgba(107,107,107,0.5);}

.icon {display: flex; justify-content: space-between; align-items: flex-end;}
.sns img {width: 25px; height: 25px;}



/*keyword-pick*/
#keyword-pick {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.keyword-name {
    width: 30%; 
    min-width: 300px;
    margin: 0 10px 0;
    border: 1px solid  #eee;
    padding: 52px 44px;
}

.keyword-name p {
    margin-top: 10px; 
    font-size: 13px; 
    font-weight: 300;
    line-height: 1.7;
}

.keyword-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.keyword-collage img {width:100%;}

.pick-section {margin: 80px 0; padding: 0 10px;}

.section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.section-title h2 {font-size: 23px; margin-bottom: 15px;}

.section-title a {font-size: 14px; color: #111;}

.pick-card-grid {
   display: grid;
   grid-template-columns:repeat(4,1fr) ;
   gap: 10px;
}

article {
  padding: 15px 10px;
}

.pick-card img {
  width: 100%; 
  margin-bottom: 10px;
  aspect-ratio: 1 / 1;
  border: 1px solid #e5e5e5;
}

.pick-card-name strong {
  color: #222;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.pick-card-name p {
  color: #555; 
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.6;
}

.label {
  color: #777; 
  font-size: 12px;
  padding: 3px 7px;
  border: 1px solid #ddd;
}

@media screen and (min-width:1025px) {
.toplike, .topsearch {display:inline-block;}

/*메뉴*/
.topPro {display:inline-block; position: relative; top: 5px;}
.topPro img {width: 40px; height: 40px;}

.mtop_menu{border: none;}
.mtop_menu ul {display: flex; align-items: center; justify-content: flex-start;
                gap: clamp(16px,5vw,150px);}
.mtop_menu ul li a {font-size: 1.5rem; margin-left: 5px;}
  

.mtop_sub {display: block; position: relative;}
.mtop_sub a {color: #000;}

.sub-menu {position: relative; display: block;}

.sub1 {display: flex; gap: 30px; margin:20px 0 10px 5px; position: relative;}
.sub1 li a {font-size: 1.2rem; font-weight: 300;}
.sub1 li.active a {font-weight: 500;}
.sub1 li a:hover {border-bottom: 3px solid #000;}

.menu-contents {display: none; position: absolute; height: 300px;
         z-index: 999; background: #fff; width: 99%; 
         box-shadow: 0 0 5px rgba(0,0,0,0.5);}
.menu-contents.open {display: flex;}

.menu-panel {display: none;}
.menu-panel.active {display: flex;}
         
.left {padding: 20px; width: 150px;}
.left li {margin-bottom: 10px; font-size: 1.1rem; cursor: pointer;
        font-weight: 300;}
.left li.active  {font-weight: bold;}

.sub-wrap {flex: 1; position: relative; padding: 10px; display: flex;
        align-items: flex-start;}

.sub-box {position: relative; min-height: 200px; width: 100%; display: none; }
.sub-box.active {display: flex;}
.sub-box ul li  {margin-bottom: 10px;}


.sub2 {width: 120px; word-break: keep-all; margin-top: 20px;margin-right: 100px;
        margin: 20px 100px 0 10px; }
.sub2 li a {white-space:nowrap; font-weight: 300;}
.sub2 li.active a {font-weight: bold;}
.sub2 >li>a:after {content: " >";}

.sub3 {display: none;margin-top: 10px;padding: 10px 0 0 10px; }
.sub3.active {display: flex; flex-direction: column; flex-wrap: wrap; 
                height: 45%;}
.sub3 li {margin-right: 50px;}
.sub3 li a { margin-right:0; font-weight: 300;
                font-size: 1rem; display: block; width: auto;}

.search-model {display: block;}

footer {display: block;}
.p-infor1 ul {display: flex; justify-content: space-around; font-weight: 500; 
        font-size: 1.1rem; margin-bottom: 20px;}
.p-infor2 {font-size: 10px;padding: 10px; line-height: 1.8;
        color:rgba(0,0,0,0.5); margin-bottom: 20px;}
.p-infor2 p {width: 100%;}

.p-infor2 {font-size: 10px;}
}


@media screen and (min-width:1419px) {
/*메뉴*/
.topPro {display:inline-block; position: relative; top: 5px;}
.topPro img {width: 40px; height: 40px;}

.mtop_menu{border: none;}
.mtop_menu ul {display: flex; align-items: center; justify-content: flex-start;
                gap: clamp(16px,5vw,150px);}
.mtop_menu ul li a {font-size: 1.5rem; margin-left: 5px;}


.mtop_sub {display: block;}

.search-model {display: block;}

footer {display: block;}
}


/* 고정 헤더 css*/
#main.sticky {position: fixed; top: 0; left: 10px;
  background: #fff; width: calc(100% - 20px); z-index: 1000; height: 70px;}

.mtop_menu.sticky {position: fixed; top: 65px; left: 10px; 
  background: #fff; width: calc(100% - 20px); z-index: 999;display: block;
  padding-bottom: 18px;}


