@charset "utf-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    margin: 20px 10px 0 10px;}
h1 { font-family: "Montserrat", sans-serif;}
a {text-decoration: none; color: black;}
* {box-sizing: border-box;}


.login-wrap {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        padding: 20px;
}

.logtop {
        display: flex; 
        justify-content: space-between;
        margin-bottom: 25px;}

.coupon {margin-bottom: 30px;}
.coupon li {display: flex; justify-content: center;}
.coupon img { width: 100%;}

.name {display: flex;justify-content: center; gap: 20px;
        margin-bottom: 20px;}
.name li {border-right:  1px solid rgba(153,153,153,0.7) ;
         padding-right: 10px;}
.name li:last-child {border: none;}

.brand p {text-align: center; font-weight: 300;
        margin-bottom: 20px;}


.login-area .icon {width: 100%; margin: 0 auto;}

.icon { width: 100%; margin: 0 auto;}
.icon li{margin-bottom: 10px;}
.icon li a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
}
.icon li img {width: 15px; height: 15px; margin-right: 5px;}

.total {background: #000;}
.total a {color: #fff; }

.kakao {background: #FEE500;}

.apple {border: 1px solid rgb(163,163,163,0.5);}

.ip {display: flex; justify-content: center; align-items: center;
    margin-top: 30px; gap: 10px;}
.ip p {border-right: 1px solid rgba(217,217,217,0.7);
        padding-right: 10px; color: rgb(107,107,107,0.5);}
.ip p:last-child {border: none;}

.only {margin-top: 80px;}
.only p {text-align: center;  color: rgb(107,107,107,0.5); 
    margin-bottom: 30px; }

.fne ul{display: flex; justify-content: center; align-items: center;
        gap: 5px;}
.fne ul a {border: 1px solid rgb(163,163,163,0.5) ;
            padding: 3px 10px; border-radius: 5px; white-space: nowrap;
                font-size: 13px;}
.fne img {width: 10px; height: 10px;}


